html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box !important;
}

.pacifico-font {
  font-family: 'Pacifico', cursive;
}

.orange-background {
  /*background: #e68a00;*/
  background: rgba(230, 138, 0, 0.9);
}

.white-text {
  /*color: #eae5e1;*/
  color: #f5f2f0;
}

.left {
  float: left;
}

header {
  height: 8%;
  font-size: 2.7rem;
  line-height: 3.5rem;
  text-align: right;
  padding-right: 2rem;
  position: relative;
}

div.search-box {
  position: absolute;
  height: 80%;
  width: 25%;
  top: 10%;
  left: 1%;
  background: white;
  font-size: 1rem;
  color: black;
}

form.search-box {
  position: absolute;
  top: 0;
  border: none;
}

input,
input:focus {
  width: 100%;
/*  border: none !important;*/
}

i.fa.fa-search {
  padding: 0 1rem;
}

#map {
  height: 92%;
}