html {
  background: #f5f2f0;
}

*{
  box-sizing: border-box;
}

h1, h4 {
  font-family: 'Lobster', cursive;
  color: #e68a00;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

div.notifications {
  width: 195px;
  left: 0;
}

a.notifications {
  top: 10px;
  display: block;
}

.fixed-action-btn.horizontal ul {
  width: 110px;
  right: 0;
}

ul.notifications li {
  float: left;
}

.input-section {
  margin-top: 100px;
}



.orange-background {
  background-color: #e68a00;
}

.orange-background:hover {
  background-color: #e68a00;
}